<a routerLink="['/dashboard']">Home</a> | <a href="/logout">Logout</a>

<h2>New Question</h2>
<form (submit)="createPost(formData)" #formData="ngForm">
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    Question requires at least 10 characters
  </div>
  <label for="post">Question</label>
  <textarea type="text" name="post" required minlength="10" [(ngModel)]="post.title" #name='ngModel'></textarea>
  <label for="description">Description (optional)</label>
  <textarea type="text" name="description" [(ngModel)]="post.description" #description='ngModel'></textarea>
  <button type="submit" [disabled]="formData.invalid">Submit</button>
  <button (click)="clear(formData)">Cancel</button>
</form>
