<div class="container">
  <div class="welcome">
    Hello {{ user.name }}!
  </div>
  <a [routerLink]='["/new-question"]'>Add new Question</a>
  |
  <a (click)="logout()">Log Out</a>
  <br>

  <input [(ngModel)]="searchText" placeholder="Search questions">
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Actions</th>
    </tr>
    <tbody>
      <tr *ngFor='let question of questions | search: searchText'>
        <td>{{ question.question }}</td>
        <td>{{ question.answers.length }}</td>
        <td><a [routerLink]="['/view-question', question._id]">Show</a> | <a [routerLink]="['/question', question._id, 'new_answer']">Answer</a></td>
      </tr>
  </tbody>
  </table>
</div>
