<a [routerLink]="['/post', post_id]">Go back to Post</a>
|
<a href="/logout">Logout</a>

<div *ngFor='let info of post'>
  <h2>{{ info.title }}</h2>
  <p>{{ info.description }}</p>
</div>
<form (submit)="createAnswer(formData)" #formData="ngForm">
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
      Answer requires at least 5 characters
  </div>
  <label for="answer">Answer:</label>
  <textarea type="text" name="answer" required minlength="5" [(ngModel)]="answer.title" #name='ngModel'></textarea>
  <label for="description">Details (optional):</label>
  <textarea type="text" name="description" [(ngModel)]="answer.description" #description='ngModel'></textarea>
  <button type="submit" [disabled]="formData.invalid">Submit</button>
  <button (click)="clear(formData)">Cancel</button>
</form>
