<a [routerLink]="['/view-question', question._id]">Go back to Question</a>
|
<a (click)="logout()">Logout</a>

<div id='content'>
  <form (submit)="createAnswer()" #answerForm='ngForm'>
    <label for="">Answer: </label>
    <br>
    <textarea cols="30" rows="10" name="answer" required minlength="5" [(ngModel)]="newAnswer.answer"></textarea>
    <p [ngStyle]="{'color': 'red'}" *ngFor='let error of errors'>{{ error }}</p>
    <br>
    <label for="details">Details(optional)</label>
    <br>
    <textarea name="details" cols="30" rows="10" [(ngModel)]="newAnswer.details"></textarea>
    <br>
    <button type="submit" [disabled]="answerForm.invalid">Submit Answer</button>
    <button [routerLink]="['/dashboard']">Cancel</button>
  </form>
</div>
