<div class="container">
  <div class="login">
    <h1>Login</h1>
  </div>
  <form (submit)='onSubmit(formData.value)' #formData="ngForm">
    <label for="">Name: </label>
    <input type="text" name="name" required minlength="3" #name="ngModel" [(ngModel)]="user.name" class="form-control">
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      Minimum 3 characters
    </div>
    <br>
    <button class="btn btn-success" type="submit" [disabled]="formData.invalid">Login</button>
  </form>
</div>
